[submodule "tmanagement/internal/handlers/kafkahandlers"]
	path = tmanagement/internal/handlers/kafkahandlers
	url = https://github.com/Nomiram/kafka-submodule
[submodule "durationCount/internal/handlers/kafkahandlers"]
	path = durationCount/internal/handlers/kafkahandlers
	url = https://github.com/Nomiram/kafka-submodule
